@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 103px;
    margin-top: 92px;
    align-items: center;
    gap: 25px;
}

.navbar {
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    max-width: 896px;
    border-bottom: 1px solid black;
}

.navbar ul {
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-bottom: 11px;
}

.selectedNavItem {
    font-weight: 700;
}

.hero-container {
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    max-width: 896px;
    height: 368px;
    /* border: 1px solid black; */
    border-radius: 12px;
    align-items: center;
    background-color: #FFA7A7;
}

.hero-container h1 {
    font-size: 120px;
    margin-left: 69px;
    color: white;
}

.hero-container img {
    margin-right: 36px;
}

.body-content {
    max-width: 896px;
    margin: 32px auto;
    height: 50px;
}

.page-title {
    text-decoration: underline;
    margin: 0 auto
}

.page-body {
    text-align: center;
    max-width: 559px;
    margin: 25px auto 0 auto;
}

.home-content {
    text-align: center;
}